In [1]:
import pandas as pd
import numpy as np

In [29]:
df = pd.read_csv('../data/World Bank/Gender_StatsCSV.csv')

In [30]:
# Cell 2: Display basic information about the dataset
print("Dataset Info:")
print(df.info())
print("\nFirst 5 rows of the dataset:")
print(df.head())

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306340 entries, 0 to 306339
Data columns (total 68 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Country Name    306340 non-null  object
 1   Country Code    306340 non-null  object
 2   Indicator Name  306340 non-null  object
 3   Indicator Code  306340 non-null  object
 4   1960            22304 non-null   float64
 5   1961            22276 non-null   float64
 6   1962            22432 non-null   float64
 7   1963            22489 non-null   float64
 8   1964            22523 non-null   float64
 9   1965            22614 non-null   float64
 10  1966            22741 non-null   float64
 11  1967            22683 non-null   float64
 12  1968            22758 non-null   float64
 13  1969            22851 non-null   float64
 14  1970            35840 non-null   float64
 15  1971            38547 non-null   float64
 16  1972            38401 non-null   float64
 17  1973            38425 non-null   float64
 18  1974            38507 non-null   float64
 19  1975            39929 non-null   float64
 20  1976            40430 non-null   float64
 21  1977            40369 non-null   float64
 22  1978            40512 non-null   float64
 23  1979            40764 non-null   float64
 24  1980            42661 non-null   float64
 25  1981            41911 non-null   float64
 26  1982            41509 non-null   float64
 27  1983            41957 non-null   float64
 28  1984            42063 non-null   float64
 29  1985            43365 non-null   float64
 30  1986            42971 non-null   float64
 31  1987            42686 non-null   float64
 32  1988            42686 non-null   float64
 33  1989            42899 non-null   float64
 34  1990            50839 non-null   float64
 35  1991            58316 non-null   float64
 36  1992            58301 non-null   float64
 37  1993            58208 non-null   float64
 38  1994            58673 non-null   float64
 39  1995            59987 non-null   float64
 40  1996            59015 non-null   float64
 41  1997            58617 non-null   float64
 42  1998            60618 non-null   float64
 43  1999            64678 non-null   float64
 44  2000            87307 non-null   float64
 45  2001            73596 non-null   float64
 46  2002            73325 non-null   float64
 47  2003            75626 non-null   float64
 48  2004            76552 non-null   float64
 49  2005            80444 non-null   float64
 50  2006            79227 non-null   float64
 51  2007            78755 non-null   float64
 52  2008            78899 non-null   float64
 53  2009            79769 non-null   float64
 54  2010            98601 non-null   float64
 55  2011            87969 non-null   float64
 56  2012            84738 non-null   float64
 57  2013            83259 non-null   float64
 58  2014            100069 non-null  float64
 59  2015            97375 non-null   float64
 60  2016            86423 non-null   float64
 61  2017            102715 non-null  float64
 62  2018            88427 non-null   float64
 63  2019            90528 non-null   float64
 64  2020            74339 non-null   float64
 65  2021            97597 non-null   float64
 66  2022            68952 non-null   float64
 67  2023            50266 non-null   float64
dtypes: float64(64), object(4)
memory usage: 158.9+ MB
None

First 5 rows of the dataset:
                  Country Name Country Code  \
0  Africa Eastern and Southern          AFE
1  Africa Eastern and Southern          AFE
2  Africa Eastern and Southern          AFE
3  Africa Eastern and Southern          AFE
4  Africa Eastern and Southern          AFE

                                      Indicator Name  Indicator Code  1960  \
0  A woman can apply for a passport in the same w...  SG.APL.PSPT.EQ   NaN
1  A woman can be "head of household" in the same...  SG.HLD.HEAD.EQ   NaN
2  A woman can choose where to live in the same w...  SG.LOC.LIVE.EQ   NaN
3  A woman can get a job in the same way as a man...  SG.GET.JOBS.EQ   NaN
4  A woman can obtain a judgment of divorce in th...  SG.OBT.DVRC.EQ   NaN

   1961  1962  1963  1964  1965  ...  2014  2015  2016  2017  2018  2019  \
0   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN
1   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN
2   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN
3   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN
4   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN

   2020  2021  2022  2023
0   NaN   NaN   NaN   NaN
1   NaN   NaN   NaN   NaN
2   NaN   NaN   NaN   NaN
3   NaN   NaN   NaN   NaN
4   NaN   NaN   NaN   NaN

[5 rows x 68 columns]

In [33]:
# Group by the country column
country_dfs = {country: data for country, data in df.groupby("Country Name")}

In [42]:
for country, data in country_dfs.items():
    filename = f"../data/World Bank/countries/{country.replace(' ', '_')}_stats.csv"
    data.to_csv(filename, index=False)

In [44]:
years = year_columns = df.columns[4:]
rows_without_year_data = df[df[year_columns].isnull().all(axis=1)]
print(rows_without_year_data)

                       Country Name Country Code  \
0       Africa Eastern and Southern          AFE
1       Africa Eastern and Southern          AFE
2       Africa Eastern and Southern          AFE
3       Africa Eastern and Southern          AFE
4       Africa Eastern and Southern          AFE
...                             ...          ...
306192                     Zimbabwe          ZWE
306193                     Zimbabwe          ZWE
306194                     Zimbabwe          ZWE
306219                     Zimbabwe          ZWE
306220                     Zimbabwe          ZWE

                                           Indicator Name  \
0       A woman can apply for a passport in the same w...
1       A woman can be "head of household" in the same...
2       A woman can choose where to live in the same w...
3       A woman can get a job in the same way as a man...
4       A woman can obtain a judgment of divorce in th...
...                                                   ...
306192  Women who believe a wife is justified refusing...
306193  Women who believe a wife is justified refusing...
306194  Women who believe a wife is justified refusing...
306219  Women who believe religion requires female gen...
306220  Women who believe that female genital mutilati...

              Indicator Code  1960  1961  1962  1963  1964  1965  ...  2014  \
0             SG.APL.PSPT.EQ   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN
1             SG.HLD.HEAD.EQ   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN
2             SG.LOC.LIVE.EQ   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN
3             SG.GET.JOBS.EQ   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN
4             SG.OBT.DVRC.EQ   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN
...                      ...   ...   ...   ...   ...   ...   ...  ...   ...
306192     SG.RSX.NORS.Q3.ZS   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN
306193     SG.RSX.NORS.Q4.ZS   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN
306194     SG.RSX.NORS.Q5.ZS   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN
306219  SH.STA.FGMO.RE.FE.ZS   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN
306220  SH.STA.FGMO.NO.FE.ZS   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN

        2015  2016  2017  2018  2019  2020  2021  2022  2023
0        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
...      ...   ...   ...   ...   ...   ...   ...   ...   ...
306192   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
306193   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
306194   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
306219   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
306220   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[127011 rows x 68 columns]